
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100,200,300,400,500,600,700,800,900'); 
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,600&family=Ubuntu:wght@1,100,200,300,400,500,600,700,800,900');

body {
    font-family: "Ubuntu";
    text-align: center;
     }

  h1, h2, h3, h4, h5, h6 {
    font-family:"Montserrat-bold";
    
   
  }
  
  p {
    color:rgb(59, 73, 85);
  }

  
  
  /* Headings */
  
  .big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
    margin-left: 30px;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  /* Containers */
  
  .container-fluid{
    padding: 3% 15%;
    
  }
  
  /* Sections */
  
  .colored-section {
    background-color: #3c7272;
    color: rgb(159, 177, 56);
  }
  
  .white-section {
    background-color: #fff;
    padding-top: 10px;
  
  }
  
  /* Navigation Bar */
  .navbar {
    padding: 0;
  }
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 3.5rem;
    font-weight: bold;
    color: orange;
  
  }
  
  .nav-item {
    padding: 0 10px;
   
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
    color: azure;
  
  }
  
  /* Buttons */
  
  .download-button {
    margin: 5% 3% 5% 0;
  }

 .sign {
  background-color: rgb(255, 238, 0);
  background-size: cover;
  color: rgb(255, 0, 21);
  font-weight: 900;
  position: relative;
 }
  /* Title Section */
  
  #title {
    background-color: hwb(173 22% 71%);
    color: #fff;
    text-align: left;

  }
  .title-image {
    width: 60%;
    position: absolute;
    right: 30%;
    bottom: 30%;

  }
  #title .container-fluid {
    padding: 3% 7% 15%;
 }

  /* Features Section */
  
  #features {
    background-color: whitesmoke;
    position: relative;
  }
  
  .feature-title {
    font-size: 1.5rem;
  }
  
  .feature-box {
    padding: 4.5%;
  }
  
  .icon {
    color: #3b5f6d;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #36889c;
  }
  
  /* Carousel Section */
  
  #carouselExampleInterval{
    background-color: #3c6a6b;
    text-align: center;
  }
  
  .carousel-item active{
    font-size: 3rem;
    line-height: 1.5;
    
  }

  .carousel-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  #press {
    background-color:#fff;
    padding-bottom: 3%;
   
  
  }
  
  .press-logo {
    width: 15%;
    margin: 20px 20px 60px;
  }
  
  /* Pricing Section */
  
  #pricing {
    padding: 100px;
    background-color: aliceblue;
    
  }
  
  .price-text {
    font-size: 3rem;
    line-height: 1.5;
    
  }
  
  .pricing-column {
    padding: 3% 2%;
  }
   
  .card-body{
    background-color: azure;
  }
  /* Footer Section */
  
   .social-icon {
    margin: 20px 10px;
  }
  .contact{
    margin-bottom: 10px;
}

  @media (max-width: 1028px) {
    
    #title {
      text-align: center;
    }
    .title-image {
      position: static;
    }
  }
