
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100,200,300,400,500,600,700&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@1,100,200,300,400,500,600,700&display=swap'); 

body {
    font-family: "Montserrat";
    text-align: center;
     }

  h1, h2, h3, h4, h5, h6 {
    font-family:"Montserrat-Bold";
   
  }
  
  p {
    color:rgb(59, 73, 85);
  }

  
  
  /* Headings */
  
  .big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  /* Containers */
  
  .container-fluid{
    padding: 7% 15%;
    
  }
  
  /* Sections */
  
  .colored-section {
    background-color: #34c2c2;
    color: rgb(87, 60, 60);
  }
  
  .white-section {
    background-color: #fff;
    padding-top: 10px;
  }
  
  /* Navigation Bar */
  
  .navbar {
    padding: 0 0 2.5rem;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 3.5rem;
    font-weight: bold;
    color: orange;
    padding-right: auto;
  }
  
  .nav-item {
    padding: 0 20px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  
  }
  
  /* Buttons */
  
  .download-button {
    margin: 5% 3% 5% 0;
  }

 .sign {
  background-color: rgb(255, 238, 0);
  background-size: cover;
  color: rgb(255, 0, 21);
  font-weight: 900;
  position: relative;

 }
 .sign:hover{
  color:aquamarine;
 }

  /* Title Section */
  
  #title {
    background-color: hwb(172 24% 59%);
    color: #fff;
    text-align: left;

  }
  .title-image {
    width: 60%;
    position: absolute;
    right: 30%;
    bottom: 30%;
    
  }
  #title .container-fluid {
    padding: 3% 7% 15%;

  }


  /* Features Section */
  
  #features {
    background-color: whitesmoke;
    position: relative;
  }
  
  .feature-title {
    font-size: 1.5rem;
  }
  
  .feature-box {
    padding: 4.5%;
  }
  
  .icon {
    color: #3b5f6d;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #36889c;
  }
  
  /* Testimonial Section */
  
  #testimonials {
    background-color: #478385;

  
  }
  
  .testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  #press {
    background-color:aliceblue;
    padding-bottom: 3%;
   
  
  }
  
  .press-logo {
    width: 15%;
    margin: 20px 20px 60px;
  }
  
  /* Pricing Section */
  
  #pricing {
    padding: 100px;
    
  }
  
  .price-text {
    font-size: 3rem;
    line-height: 1.5;
    
  }
  
  .pricing-column {
    padding: 3% 2%;
  }
   
  /* Footer Section */
  
   .social-icon {
    margin: 20px 10px;
  }

  @media (max-width: 1028px) {
    
    #title {
      text-align: center;
    }
    
  }
